/* Share Buttons */

.share-btn-container {
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 16px;

    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);

    justify-content: center;
}

.share-btn-container a i {
    font-size: 32px;
    padding: 10px 30px;
}

.share-btn-container a {
    /* margin: 12px 0; */
    transition: 500ms;
}

.share-btn-container a:hover {
    transform: scale(1.2);
}

.share-btn-container .icofont-facebook {
    color: #3b5998;
}

.share-btn-container .icofont-twitter {
    color: #1da1f2;
}

.share-btn-container .icofont-linkedin {
    color: #0077b5;
}

.share-btn-container .icofont-pinterest {
    color: #bd081c;
}

.share-btn-container .icofont-whatsapp {
    color: #25d366;
}

/* Media Queries */

@media (max-width: 550px) {
    .content {
        padding: 8px 32px;
    }

    .share-btn-container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        /* padding: 10px 0; */
        justify-content: center;
    }

    .share-btn-container a i {
        font-size: 32px;
        padding: 0px 15px;
    }
}
